Source: raspberrypi-sys-mods-lite
Section: admin
Priority: optional
Maintainer: Serge Schneider <serge@raspberrypi.com>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
Homepage: https://github.com/RPi-Distro/raspberrypi-sys-mods
Vcs-Git: git://git@github.com:RPi-Distro/raspberrypi-sys-mods.git
Vcs-Browser: https://github.com/RPi-Distro/raspberrypi-sys-mods

Package: raspberrypi-sys-mods-lite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd (>= 230), parted, fdisk
Conflicts: raspberrypi-sys-mods
Replaces: raspberrypi-sys-mods
Description: System tweaks for the Raspberry Pi
 Various modifications to improve the performance or user experience.
